.pokemon-detail-card {
  width: 100%;
  max-width: 80%;
  margin: 2rem auto;
  background: #f9f9f9;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.pokemon-header {
  background: linear-gradient(135deg, #48c6ef, #6f86d6);
  text-align: center;
  color: white;
  padding: 1rem;
}

.pokemon-header img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-top: 1rem;
  max-width: 300px;
}

.basic-info{
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  font-size: 24px;
}

.pokemon-types {
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
  padding: 0 1rem;
  gap: 0.5rem;
}

.type-badge {
  padding: 0.3rem 0.6rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  font-size: 0.8rem;
}

.pokemon-info-section {
  padding: 1rem;
  text-align: left;
}
