.pokemon-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 80%;
  margin: 0 auto;
}

.pokemon-card {
  background: #f4f4f4;
  padding: 1rem;
  text-align: center;
  border-radius: 8px;
  text-decoration: none;
  color: black;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 250px;
  display: flex;
}

.pokemon-card:hover {
  background: #e0e0e0;
}
