.header {
  background-color: transparent;
  color: black;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}

.header-content {
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.app-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.back-button {
  background: none;
  border: none;
  color: black;
  font-size: 1.5rem;
  margin-right: 1rem;
  cursor: pointer;
}

.back-button:hover {
  opacity: 0.8;
}

.logout-button {
  background: none;
  border: 1px solid red;
  padding: 0.5rem 1rem;
  color: red;
  border-radius: 8px;
  cursor: pointer;
  margin-left: auto;
}

.logout-button:hover {
  background-color: red;
  color: white;
}